//レイアウト

#column__index__box{
  margin-right: 100px;
  margin-left: 100px;
  background-color:  #FFFFFF;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

#mobile-column__index__box{
  margin-right: 20px;
  margin-left: 20px;
  background-color:  #FFFFFF;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


//細かい設定

.column__index__top{
  background-image: url('bg_check.png');
  background-repeat: repeat;
  height: 50px;
}

.column__index__contents{
  padding: 15px 35px 40px 35px;
}

.column__index__title{
  border-bottom :3px solid #E2D8C2;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 70%;
  height: 50px;
  line-height: 50px;
}

.column__index__user-image{
  height: 30px;
  width: 30px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

.column__index__user-date{
  position: relative;
}

.column__index__user-name{
  display: inline-block;
}

.column__index__date{
  display: inline-block;
  position: absolute;
  right: 0;
}

.column__index__article-title{
  font-size: 20px;
}


//モバイル

.mobile-column__index__li{
  border-bottom :1px solid #E2D8C2;
}

.mobiile-column__index__body{
  font-size: 11px;
}

.mobile-column__index__user-image{
  height: 20px;
  width: 20px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

.mobile-column__index__user-name{
  display: inline-block;
}
