//レイアウト

.recipe__show__main{
  float: left;
}

#recipe__show__main-contents{
  float: left;
  width: 60%;
}

//細かい設定

.recipe__show__name a{
  color: #EF8766;
  font-size: 25px;
  font-weight: bold;
}

.recipe__show__kcal{
  float: left;
  font-size: 20px;
  color: #EF8766;
}

.recipe__show__user-name{
  float: right;
}

.menu__show__main-user{
  float: right;
}


.ingredient__top{
  background-color: #E2D1B6;
  height: 37px;
  line-height: 37px;
  padding-left: 25px;
  border-bottom: 4px solid #CCC4BB;
}

.recipe__show__procedure{
  margin-top: 30px;
}

.ingredient__list{
  background-color: #FAF5F0;
  height: 37px;
  line-height: 37px;
  padding-left: 25px;
  border-bottom: 3px solid #F0E9E0;
}

.procedure__list__number{
  line-height: 33px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.recipe__show__point{
  background-color: #F6ECD6;
  margin-top: 20px;
}

.recipe__point__title{
  width: 50%;
  text-align: center;
  height: 32px;
  line-height: 32px;
  position: relative;
  top: -15px;
  left: 10px;
}

.recipe__show__baloon{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.recipe__show__angle{
  font-size: 30px;
  position: relative;
  top: -15px;
  color: #000000;
}

.recipe__index__items-title{
  font-size: 17px;
  color: $pink;
  padding-bottom: 10px; 
}

.recipe__index__item{
  padding-left: 10px;
  padding-right: 10px;
}

.contents-inner__cover--recipe-index{
  padding: 10px 10px 10px 10px;
}

.contents-inner__cover--tab{
  padding: 5px 5px 0px 5px;
  display: inline-block;
}

.recipe__index__tab{
  position: relative;
  top: 5px;
}



//つくれぽ

.recipe__show__tsukurepo-top{
  margin-left: 100px;
}

.tsukurepo-li__date{
  font-size: 20px;
}

.tsukurepo-li__name{
  float: right;
}

//モバイル

.mobile-recipe__show__english{
  border-bottom :1px solid #E2D8C2;
  color: #817F7F;
}

.mobile-recipe__show__japanese p{
  display: inline-block;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.mobile-recipe__show__title{
  font-size: 15px;
  font-weight: bold;
}

.mobile-recipe__show__name{
  float: right;
}

.mobile-procedure__list{
  border-top :1px solid #E2D8C2;
}

.mobile-procedure__list__number{
  line-height: 25px;
  text-align: center;
  display: inline-block;
  float: left;
}

.mobile-recipe__point__title{
  text-align: center;
}

.mobile-recipe__show__baloon{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  height: 25px;
  line-height: 25px;
}

.mobile-recipe__show__angle{
  font-size: 25px;
  position: relative;
  top: -15px;
  color: #000000;
  height: 25px;
}

.mobile-recipe__point__body{
  background-color: #F7ECD3;
}

.recipe__index__items-title{
  font-size: 15px;
  color: $pink;
  padding-left: 10px;
  padding-top: 5px;
}

.mobile-recipe__show__image{
  height: 250px;
  background-size: cover;
}

