//レイアウト

#user__new__box{
  margin-right: 100px;
  margin-left: 100px;
  background-color:  #FFFFFF;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

#mobile-user__new__box{
  margin-right: 20px;
  margin-left: 20px;
  background-color:  #FFFFFF;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


//細かい設定

.user__new__top{
  background-image: url('bg_check.png');
  background-repeat: repeat;
  height: 50px;
}

.user__new__contents{
  padding: 15px 35px 40px 35px;
}

.user__new__image-main{
  padding-top: 40px;
}

.user__new__title{
  border-bottom :3px solid #E2D8C2;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 70%;
  height: 50px;
  line-height: 50px;
}

.user__new__name, .user__new__email, .user__new__password, .user__new__password-comfirmation{
  margin-top: 20px;
  display: block;
  height: 30px;
  line-height: 30px;
}

.user__new__submit{
  text-align: center;
}

.user__new__sex{
  padding-top: 20px;
}


//モバイル

.mobile-user__new__contents{
  padding: 10px 10px 20px 10px;
}

.user__new__1{
  font-size: 12px;
  font-weight: bold;
}

.user__new__2--border{
  padding-bottom: 20px;
  border-bottom :1px solid #E2D8C2;
}

.user__new__sex{
  padding-top: 70px;
  padding-bottom: 15px;
  border-bottom :1px solid #E2D8C2;
}

.user__new__email, .user__new__password, .user__new__password-comfirmation{
  height: 65px;
}
