.u-pt5{
  padding-top: 5px;
}

.u-pr20 {
  padding-right: 20px;
}

.u-pr10 {
  padding-right: 10px;
}

.u-pr5 {
  padding-right: 5px;
}

.u-pl10 {
  padding-left: 10px;
}

.u-pl5 {
  padding-left: 5px;
}

.u-pl20{
  padding-left: 20px;
}

.u-pb15 {
  padding-bottom: 15px;
}

.u-pl40 {
  padding-left: 40px;
}

.u-mr30 {
  margin-right: 30px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mr10 {
  margin-right: 10px;
}

.u-mr5 {
  margin-right: 5px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mr40 {
  margin-right: 40px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-ml20 {
  margin-left: 20px;
}

.u-ml30 {
  margin-left: 30px;
}
.u-mt5 {
  margin-top: 5px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt30 {
  margin-top: 30px;
}
.u-mt50 {
  margin-top: 50px;
}

.u-mt15 {
  margin-top: 15px;
}
.u-mt60 {
  margin-top: 60px;
}

.u-pt10 {
  padding-top: 10px;
}

.u-pt30 {
  padding-top: 30px;
}

.u-pb10 {
  padding-bottom: 10px;
}

.u-pb20 {
  padding-bottom: 20px;
}

.u-pb40 {
  padding-bottom: 40px;
}

.u-pb70 {
  padding-bottom: 70px;
}

.u-mt95 {
  margin-top: 95px; 
}

.u-mt100 {
  margin-top: 100px;
}

.u-pt160 {
  padding-top: 160px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb30 {
  margin-bottom: 30px;
}