//ヘッダー上部

#header-top{
  background-color: #FFFFFF;
}

.header-top__menu__item, #header-top__menu__logo{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.header-top__menu__item a{
  font-size: 14px;
}

.header-top__menu__item__pencil{
  position: relative;
  top: -11px;
  left: 15px;
  width: 40px;
}

.header-top__menu__item__key{
  width: 30px;
}

.signup-modal{
  display: none;
}


//ヘッダーナビゲーション

#header-nav{
  background-color: #F5B42A;
}

#header-nav__block{
  text-align: center;
  height: 3em;
  padding-left: 50px;
  padding-right: 50px;
}

.header-nav__button, .header-nav__category, {
  display: inline-block;
  color: #FFFFFF;
}

.header-nav__button{

}

.header-nav__search{
  background-color: #DAA024;
}

.header-nav__category{
  background-color: #DAA024;
}

.header-nav__button a{
  color: #FFFFFF;
  display: block;
  height: 3em;
  line-height: 3em;
}

.header-nav__button a:hover,
a:focus {
  background-color: #DAA024;
}

.header-nav__search p{
  padding-top: 4%;
  display: inline-block;
  height: 3em;
}

.header-nav__category a{
  display: block;
}

.header-nav__category__content--line{
  border-bottom: 1px solid #FFFFFF;
}

#category-dropdown-box{
  display:none;
  position: absolute;
  background-color: #DAA024;
  right: 0;
}

.header-nav__category__content a{
  color: #FFFFFF;
  padding-top: 7px;
  padding-bottom: 7px;
}


//ヘッダーモバイル

#sp-header-top__menu{
  background-color: $yellow;
  height: 40px;
  text-align: center;
}

#sp-header-top__menu p{
  font-size: 2px;
  color: #FFFFFF;
  line-height:40px;
}

.sp-header-top__menu__sidebar{
  padding-top: 3%;
  color: #F5B42A;
}




