.c-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
}


//モバイルのサイドバーのレシピ、献立newボタン
.c-sidebar--recipe{
  background-color: $pink;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-bottom: 2px solid #8E4F3B;
  padding: 5px 15px 5px 15px;
}

.c-sidebar--menu{
  background-color: $yellow;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-bottom: 2px solid #CB8D21;
  padding: 5px 15px 5px 15px;
}



//submitボタン
.c-submit{
  background-color: $pink;
  color: #FFFFFF;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  border-bottom: 2px solid #8E4F3B;
  padding: 10px 20px 10px 20px;
}


//フォームでの必須ボタン
.c-essential{
  background-color: #D84E26;
  display: inline-block;
  color: #FFFFFF;
  padding: 0px 5px 0px 5px;
  margin-bottom: 3px;
}

//ヘッダーのカテゴリー別のボタン
.c-btn--category{
  color: white;
  background-color: $dark-brown;
  margin: 7px 0px 7px 20px;
  height: 28px;
  line-height: 28px;
}

//ヘッダーの検索ボタン
.c-btn--search {
  width: 26px;
  height: 26px;
  border: 0;
  background-color: $dark-brown;
}

//モバイルのサイドバーのボタン
.c-btn--sidebar{
  width: 30px;
  height: 25px;
  background-color: #FFFFFF;
}

//PCのログインボタン
.c-btn--login{
  width: 160px;
  height: 40px;
  line-height: 40px;
}
