.index-side.hidden-xs
  .index-side__title
    .index-side__image.u-mr10.u-ml10
      = image_tag 'side_title.png'
    .index-side__title__font.u-white-1
      %i.fa.fa-cutlery Dnoteとは
  .index-side__image
    = image_tag 'side_img.png'
  .index-side__contents.u-pr20.u-pl20.u-pt10.u-pb10
    %p.u-brown
      Ｄノートは糖尿病の食事レシピの共有サイトです。
      /
      家族に糖尿病の方がいる場合、毎日の食事を考えるのは大変です。
      /
      あなたのレシピを投稿して、同じ悩みをもち苦労をされている皆さんのために役立てませんか？