%ul.index--side.u-pl40.u-mt20
  %li.index--side--item.u-mt20.hidden-xs
    = render 'about/dnote'
  %li.index--side--item.hidden-xs
    = render 'about/search'
  %li.index--side--item.hidden-xs
    = render 'about/category'       