%ul.index__side.u-pl40.u-mt20
  %li.index__side__item.u-mt20.hidden-xs
    = render 'about/dnote'
  %li.index__side__item.hidden-xs
    = render 'about/search'
  %li.index__side__item.hidden-xs
    = render 'about/category'       